.idea/**
gen_games/
roms/
dist/
*.egg-info
__pycache__/
build/

# Project-specific
textworld_express/version.py
simulator/project/build.properties
simulator/project/project/
simulator/project/target/
simulator/target/
simulator/project
precrawledpaths/
